/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
@import 'tldraw/tldraw.css';

/* ============ Obsidian Overrides ============ */
.cm-preview-code-block.cm-embed-block.markdown-rendered:has(.block-language-drawing) {
  contain: style !important;

  &:hover {
    overflow: visible !important;
    box-shadow: none !important;
  }

  .edit-block-button {
    display: none !important;
  }
}

/* ============ Tldraw Overrides ============ */
:root {
  --color-low: var(--background-primary);
}

input,
*[contenteditable],
*[contenteditable] * {
  user-select: unset !important;
}

.tl-container__focused {
  outline: none;
}
